<!DOCTYPE html>
<html lang="en">

<head>
    <title>spam</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="design.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">spam detector</a>
            </div>
        </div>
    </nav>


    <div class="text-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXs9F5MZj-ji9NE22SyR5dosrK4X9T534hrchMBZ3xLBu6x7_ScAEc7gRLvATbqNmD8f0&usqp=CAU" class="rounded" alt="imag">
    </div>
    <form action="/predict" method="POST" class="bb">
        <div>
            <p><b>Enter the message :</b></p><br>
            <div class="form-outline">
                <textarea class="form-control" id="textAreaExample" rows="4" name="text"></textarea>
                <label class="form-label" for="textAreaExample"></label>
            </div>
            <br>
            <div class="hh">
                <button type="submit" class="btn btn-success btn-block kk">Check!!</button>
            </div>
        </div>
    </form>
</body>

</body>

</html>