<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="design.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Diabetes Predictor</a>
            </div>
        </div>
    </nav>

    <div class="form-outline">
        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
        <label class="form-label" for="textAreaExample">Message</label>
    </div>

    <div class="hh">
        <button type="submit" class="btn btn-success btn-block kk">Check!!</button>
    </div>


</body>

</body>

</html>